.winner .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.winner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #FEF6E4;
  width: 430px;
  height: 370px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;
  border: 2px black solid;
}

.winner .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.winner.active .overlay {
  display: block;
}

.winner.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.winner-title {
  padding-top: 20px;
  font-family: "Press Start 2P", serif;
  font-size: 22px;
}

.looser-title {
  padding-top: 5px;
  font-family: "Press Start 2P", serif;
  font-size: 24px;
}

.winner .close-btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.not-in-list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.not-in-list.active {
  display: block;
}

.not-in-list .overlay-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 998;
}

.not-in-list .content-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FEF6E4;
  border: 1px solid black;
  width: 250px;
  height: 80px;
  text-align: center;
  border-radius: 5px;
  z-index: 999;
  box-sizing: border-box;

}

.not-found {
  font-size: 18px;
}

.try-diff {
  font-size: 14px;
}

.not-in-list p {
  margin: 0;
}

.not-list-text {
  margin-top: 10px;
}

.content-list {
  z-index: 5;
}

.not-in-list.active .overlay-list {
  display: block;
}

.not-in-list.active .overlay-list {
  transition: all 100ms ease-in;
}

.answer-box {
  border: 1.5px black solid;
  font-family: "Press Start 2P", serif;
  font-size: 13px;
  width: 170px;
  height: 48px;
  margin: auto;
  background-color: white;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  /* font-family: "Press Start 2P", serif; */
  font-size: 17px;
  margin-top: 40px;
  border: 1.5px black solid;
  border-radius: 9px;
  height: 40px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu {
  /* font-family: "Press Start 2P", serif; */
  font-size: 17px;
  margin-top: 5px;
  border: 1.5px black solid;
  border-radius: 9px;
  height: 40px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-button {
  cursor: pointer;
}

.popup-button:active {
  box-shadow: 0 2px #666;
  transform: translate(5px, 2px);
}

.button-text {
  font-size: 15px;
  font-family: "Poppins", serif;
  margin: 0;
}

.heart-answer img {
  width: 60px;
  height: auto;
}

.heart-answer {
  position: absolute;
  z-index: 2;
  left: calc(32%);
  top: calc(32%);
  transform: translateX(-50%);
}

.cats-answer img {
  width: 65px;
  height: auto;
  padding-bottom: 17px;
}

.cats-answer {
  position: absolute;
  left: calc(78%);
  top: calc(70%);
  z-index: 2;
}

html,
body {
  font-family: "Poppins", serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  height: 100vh;
}

#board {
  padding-left: 15px;
  width: 350px;
  height: 420px;
  /* margin: 0 auto; */
  margin: 0 auto;
  /* margin-top: 3px; */
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -100px; */
}


.tile,
.correct,
.present,
.absent {
  border: 1px solid black;
  border-radius: 1px;
}

.tile {
  /* Box */
  width: 60px;
  height: 60px;
  margin: 2.5px;
  background-color: #FEF6E4;

  /* Text */
  color: black;
  font-size: 36px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #B3E9AA;
  color: black;
  border-color: black;
}

.present {
  background-color: #FFF6AE;
  color: black;
  border-color: black;
}

.absent {
  background-color: #FFC0D9;
  color: black;
  border-color: black;
}

.keyboard-row {
  width: 510px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key-tile {
  width: 47px;
  height: 60px;
  margin: 1px;
  border: 1px solid lightgray;
  background-color: #FEF6E4;

  /* Text */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile {
  width: 90px;
  height: 58px;
  margin: 1px;
  border: 1px solid lightgray;
  background-color: #FEF6E4;

  /* Text */
  font-size: 20px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.keyboard-container {
  /* THIS IS THE TOP PADDING */
  padding-top: 51px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer {
  font-weight: 500;
  margin: 20px auto;
}

.refresh-container {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
}

.refresh-container,
.menu-container {
  background-color: #FFD5E5;
}

.menu-container {
  width: 60px;
  height: 35px;
  border-radius: 5px;
  border: 1.5px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  font-size: 14px;
}

.icon-img {
  width: 20px;
  height: auto;
  margin: 0;
}

.icon-containers {
  display: flex;
  position: fixed;
  top: 10px;
  left: calc(33%);
}

@media only screen and (max-width: 1290px) {
  .icon-containers {
    left: calc(30%);
  }
}

@media only screen and (max-width: 1100px) {
  .icon-containers {
    left: calc(27%);
  }
}

@media only screen and (max-width: 1000px) {
  .icon-containers {
    left: calc(24%);
  }

  .winner .content {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .icon-containers {
    left: calc(21%);
  }
}

@media only screen and (max-width: 700px) {
  .icon-containers {
    left: calc(18%);
  }

  .winner .content {
    width: 380px;
  }

  .looser-title {
    font-size: 22px;
  }

  .winner-title {
    font-size: 20px;
  }

  .heart-answer img {
    width: 50px;
    height: auto;
  }

  .main-menu,
  .play-again {
    width: 180px;
  }
}

@media only screen and (max-width: 600px) {
  .icon-containers {
    left: calc(15%);
  }
}

@media only screen and (max-width: 500px) {
  .icon-containers {
    left: calc(12%);
  }

  .winner .content {
    width: 350px;
  }

  .heart-answer img {
    width: 50px;
    height: auto;
  }

  .main-menu,
  .play-again {
    width: 165px;
  }
}

@media only screen and (max-width: 400px) {
  .icon-containers {
    left: calc(9%);
  }

  .winner .content {
    width: 320px;
  }

  .heart-answer img {
    width: 50px;
    height: auto;
  }

  .main-menu,
  .play-again {
    width: 160px;
  }

  .cats-answer img {
    width: 50px;
    margin-left: 5px;
  }

  .winner-title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 535px) {
  .keyboard-row {
    width: 100%;
    max-width: 450px;
  }

  .key-tile {
    width: 40px;
    height: 55px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 45px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 445px) {
  .keyboard-row {
    width: 100%;
    max-width: 430px;
  }

  .key-tile {
    width: 38px;
    height: 55px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 435px) {
  .keyboard-row {
    width: 100%;
    max-width: 390px;
  }

  .key-tile {
    width: 35px;
    height: 55px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 390px) {
  .keyboard-row {
    width: 100%;
    max-width: 360px;
  }

  .key-tile {
    width: 32px;
    height: 55px;
    font-size: 15px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
    font-size: 15px;
  }
}