body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#board {
  width: 350px;
  height: 420px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -100px;
}


.tile,
.correct,
.present,
.absent {
  border: 1px solid black;
  border-radius: 1px;
}

.tile {
  /* Box */
  width: 60px;
  height: 60px;
  margin: 2.5px;
  background-color: #FEF6E4;

  /* Text */
  color: black;
  font-size: 36px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #B3E9AA;
  color: black;
  border-color: black;
}

.present {
  background-color: #FFF6AE;
  color: black;
  border-color: black;
}

.absent {
  background-color: #FFC0D9;
  color: black;
  border-color: black;
}

.keyboard-row {
  width: 510px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.key-tile {
  width: 47px;
  height: 60px;
  margin: 1px;
  border: 1px solid lightgray;
  background-color: #FEF6E4;

  /* Text */
  font-size: 20px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile {
  width: 90px;
  height: 58px;
  margin: 1px;
  border: 1px solid lightgray;
  background-color: #FEF6E4;

  /* Text */
  font-size: 20px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.keyboard-container {
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer {
  font-weight: 500;
  margin: 20px auto; 
}

.sunflower {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left
}

.sunflower img {
  z-index: 2;
  position: absolute;
  width: 130px;
  height: auto;
  padding-bottom: 15px;
}


@media (max-width: 600px) {
  /* .keyboard-row {
    width: 100%;
    max-width: 350px;
  }

  .key-tile {
    width: 30px;
    height: 50px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
  } */

  .sunflower img {
    width: 110px;
    height: auto;
    padding-bottom: 15px;
    padding-left: 80px;
  }
}

@media only screen and (max-width: 535px) {
  .keyboard-row {
    width: 100%;
    max-width: 450px;
  }

  .key-tile {
    width: 40px;
    height: 55px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 45px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 445px) {
  .keyboard-row {
    width: 100%;
    max-width: 430px;
  }

  .key-tile {
    width: 38px;
    height: 55px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 435px) {
  .keyboard-row {
    width: 100%;
    max-width: 390px;
  }

  .key-tile {
    width: 35px;
    height: 55px;
    font-size: 16px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 390px) {
  .keyboard-row {
    width: 100%;
    max-width: 360px;
  }

  .key-tile {
    width: 32px;
    height: 55px;
    font-size: 15px;
  }

  .enter-key-tile {
    width: 65px;
    height: 40px;
    font-size: 15px;
  }
}